<a href="https://colab.research.google.com/github/AlexanderLorin/Charity-Funding-Predictor/blob/main/AlphabetSoupCharity_Optimzation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
new_df = application_df.drop('EIN', axis=1)
new_df2 = new_df.drop('NAME', axis=1)
new_df2

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE|
new_df2.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_count = new_df2['APPLICATION_TYPE'].value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_count.loc[application_count < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    new_df2['APPLICATION_TYPE'] = new_df2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
new_df2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_count = new_df2['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_count.loc[classification_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_count.loc[classification_count < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    new_df2['CLASSIFICATION'] = new_df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
new_df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
new_df2

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
df_dummies = pd.get_dummies(new_df2)
df_dummies

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [ ]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = df_dummies.drop('IS_SUCCESSFUL', axis=1)
y = df_dummies['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=43))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=3, activation="sigmoid", input_dim=20))
# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 5)                 220

 dense_4 (Dense)             (None, 3)                 18

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 242
Trainable params: 242
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 2s 2ms/step - loss: 0.6358 - accuracy: 0.6724
Epoch 2/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5875 - accuracy: 0.7264
Epoch 3/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5750 - accuracy: 0.7294
Epoch 4/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5681 - accuracy: 0.7292
Epoch 5/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7299
Epoch 6/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7299
Epoch 7/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5587 - accuracy: 0.7304
Epoch 8/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7322
Epoch 9/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5563 - accuracy: 0.7317
Epoch 10/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7323

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5610 - accuracy: 0.7220 - 959ms/epoch - 4ms/step
Loss: 0.5610308647155762, Accuracy: 0.721982479095459

## Improve accuracy attempt #1

In [ ]:
nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=43))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid", input_dim=20))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid", input_dim=20))
# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid", input_dim=20))
# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                440

 dense_7 (Dense)             (None, 10)                110

 dense_8 (Dense)             (None, 10)                110

 dense_9 (Dense)             (None, 10)                110

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 781
Trainable params: 781
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 4s 4ms/step - loss: 0.6321 - accuracy: 0.6728
Epoch 2/10
804/804 [==============================] - 2s 3ms/step - loss: 0.5733 - accuracy: 0.7318
Epoch 3/10
804/804 [==============================] - 3s 3ms/step - loss: 0.5702 - accuracy: 0.7325
Epoch 4/10
804/804 [==============================] - 3s 3ms/step - loss: 0.5676 - accuracy: 0.7336
Epoch 5/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5636 - accuracy: 0.7324
Epoch 6/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7327
Epoch 7/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7331
Epoch 8/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7328
Epoch 9/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7330
Epoch 10/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7329

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5594 - accuracy: 0.7256 - 667ms/epoch - 2ms/step
Loss: 0.5594037175178528, Accuracy: 0.7255976796150208

## Improve accuracy attempt #2

In [ ]:

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=43))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=20))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=20))
# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="sigmoid", input_dim=20))
# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 20)                880

 dense_12 (Dense)            (None, 20)                420

 dense_13 (Dense)            (None, 20)                420

 dense_14 (Dense)            (None, 20)                420

 dense_15 (Dense)            (None, 1)                 21

=================================================================
Total params: 2,161
Trainable params: 2,161
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 5s 5ms/step - loss: 0.5799 - accuracy: 0.7138
Epoch 2/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5574 - accuracy: 0.7304
Epoch 3/10
804/804 [==============================] - 3s 3ms/step - loss: 0.5542 - accuracy: 0.7306
Epoch 4/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7316
Epoch 5/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7321
Epoch 6/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7322
Epoch 7/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7329
Epoch 8/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7334
Epoch 9/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7338
Epoch 10/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7339

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5560 - accuracy: 0.7255 - 590ms/epoch - 2ms/step
Loss: 0.5560452342033386, Accuracy: 0.7254810333251953

## Improve accuracy attempt #3

In [ ]:
new_df3 = new_df2[new_df2.APPLICATION_TYPE != 'Other']

In [ ]:
new_df4 = new_df3[new_df3.CLASSIFICATION != 'Other']

In [ ]:
df_dummies = pd.get_dummies(new_df4)
df_dummies

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[31763 rows x 42 columns]

In [ ]:
nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=43))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=20))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=20))
# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="sigmoid", input_dim=20))
# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 20)                880

 dense_22 (Dense)            (None, 20)                420

 dense_23 (Dense)            (None, 20)                420

 dense_24 (Dense)            (None, 20)                420

 dense_25 (Dense)            (None, 1)                 21

=================================================================
Total params: 2,161
Trainable params: 2,161
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5844 - accuracy: 0.7091
Epoch 2/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7291
Epoch 3/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7306
Epoch 4/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7325
Epoch 5/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7329
Epoch 6/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7334
Epoch 7/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7334
Epoch 8/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7331
Epoch 9/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7345
Epoch 10/10
804/804 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7346

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5554 - accuracy: 0.7252 - 749ms/epoch - 3ms/step
Loss: 0.555446982383728, Accuracy: 0.7252478003501892

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save('AlphabetSoupCharity_Optimization.h5')